.box{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 0;
    font-size: 5rem;
    font-family: sans-serif;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-container{
    /* width: 50%; */
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 100px 100px 100px; 
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0;

}

.green{
    background-color: aquamarine;
}